<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-championnat-heading" data-cy="ChampionnatCreateUpdateHeading" jhiTranslate="fmdbxApp.championnat.home.createOrEditLabel">
        Create or edit a Championnat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fmdbxApp.championnat.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fmdbxApp.championnat.nombreDEquipes" for="field_nombreDEquipes">Nombre D Equipes</label>
          <input
            type="number"
            class="form-control"
            name="nombreDEquipes"
            id="field_nombreDEquipes"
            data-cy="nombreDEquipes"
            formControlName="nombreDEquipes"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fmdbxApp.championnat.logo" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="championnat image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_logo"
              data-cy="logo"
              (change)="setFileData($event, 'logo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fmdbxApp.championnat.niveau" for="field_niveau">Niveau</label>
          <input type="number" class="form-control" name="niveau" id="field_niveau" data-cy="niveau" formControlName="niveau" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fmdbxApp.championnat.reputation" for="field_reputation">Reputation</label>
          <input
            type="number"
            class="form-control"
            name="reputation"
            id="field_reputation"
            data-cy="reputation"
            formControlName="reputation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fmdbxApp.championnat.pays" for="field_pays">Pays</label>
          <select class="form-control" id="field_pays" data-cy="pays" name="pays" formControlName="pays">
            <option *ngIf="!editForm.get('pays')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="paysOption.id === editForm.get('pays')!.value?.id ? editForm.get('pays')!.value : paysOption"
              *ngFor="let paysOption of paysSharedCollection; trackBy: trackPaysById"
            >
              {{ paysOption.nom }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['pays'])!.invalid && (editForm.get(['pays'])!.dirty || editForm.get(['pays'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['pays'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
